<h1>Dashboard</h1>

<table>
    <tr>
        <td>Number of Products:</td>
        <td> <%= @num_of_products %></td>
    </tr>
    <tr>
    <td>Number of Categories: <td>
    <td><%= @num_of_categories %></td> 
    </tr>

</table>