<section class="products-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div>
    <h4>Welcome to the Jungle!</h4>
    <p>We are an eCommerce website that provides.</p>
    <p>Ranging from the latest gadgets to wacky and wonderful clothing items, we've got everything your heart could desire!</p>
  </div>


</section>